// Xfce Panel
.xfce4-panel.panel {
    background-color: $panel_bg_color;
    text-shadow: none;
    -gtk-icon-shadow: none;
  
    button.flat { @extend %panelbutton; }
  }
  
  #tasklist-button {
    color: transparentize($panel_fg_color, 0.2);
    border-radius: 0;
    border: none;
    background-color: transparentize($panel_bg_color, 1);
  
    &:hover {
      color: lighten($panel_fg_color, 10%);
      background-color: transparentize(black, 0.83);
    }
  
    &:checked {
      color: white;
      background-color: transparentize(black, 0.75);
      box-shadow: inset 0 -2px $selected_bg_color;
    }
  }
  
  %panelbutton {
    color: $panel_fg_color;
    border-radius: 0;
    border: none;
    background-color: transparentize($panel_bg_color, 1);
  
    &:hover {
      border: none;
      background-color: lighten($panel_bg_color, 7%);
    }
    &:active, &:checked {
      color: $selected_fg_color;
      background-color: lighten($panel_bg_color, 5%);
      border-bottom: 2px solid $selected_bg_color;
  
      label, image { color: inherit; }
    }
  }



#whiskermenu-window button {
    background-color:transparent;
    border: none;
    border-radius: 0;
    font-weight: normal;
    padding: 2px;
    margin: 1px 0px;
    &:hover, &:checked {
        background-color: $selected_bg_color;
    }
}

/* thunar */
.thunar toolbar {
  background-color: $headerbar_color; 
}

/* buttons in toolbar */
.thunar toolbar.horizontal button image {
  -gtk-icon-transform:scale(0.72);
}

scrolledwindow.sidebar treeview.view {
  background: darken($_sidebar_color, 2%);
  padding: 1.5px;
  color: #98abb2;
}

/* path-bar of thunar */
window.thunar toolbar#location-toolbar > toolitem > widget > widget.linked.path-bar > button.toggle.path-bar-button {
  margin-top: 7px;
  margin-bottom: 7px;
  &:hover { color: $selected_bg_color; }
  &:checked { @include button(active-header); }
}

window.thunar toolbar#location-toolbar > toolitem > widget > widget.linked.path-bar > button.path-bar-button {
  background: none;
  outline: none;
  border: none;
  box-shadow: none;
}

/* thunar sidepane */
window.thunar paned > scrolledwindow treeview.view:selected {
  @include button(active-header);
  border-radius: 0;
  box-shadow: none;
}

window.thunar toolbar#location-toolbar entry {
  border-radius: 10px;
}